@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,700&display=swap);
* {
    margin: 0;
    padding: 0;
    cursor: default;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

.cursor_pointer{
    cursor: pointer;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#ui {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100vw;
    height: 100vh;
    color: white;
}

.hidden {
    display: none !important;
}

.loading {
    width: 100%;
    height: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 600;
    font-size: 7vmin;
    z-index: 1;
}

.banner {
    position: absolute;
    color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 10vmin;
    width: 100%;
    z-index: 3;
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#name-banner {
    top: 2%;
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1) 1s;
}

#name-banner .hidden_banner {
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1) 1s;
}

#diploma-banner {
    top: 5%;
}

#work_experience-banner {
    top: 3%;
}

#content-banner{
    font-size: 8vmin !important;
    top: 15%
}

.background-banner-label {
    padding: 0 1vmin 0 1vmin;
}

.hidden_banner {
    top: -15vmin !important;
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

#back-button {
    width: 15vmin;
    height: 15vmin;
    position: absolute;
    left: 3vmin;
    top: 3vmin;
    background-color: gray;
    z-index: 10;
    border: darkgray 1vmin solid;
    transition: left 1s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

#back-button:hover {
    background-color: #929292;
}

#back-button:active {
    transform: scale(0.9);
}

.back-image {
    width: 100%;
    height: 100%;

}

.hidden_back-button {
    left: -20vmin !important;
}

.text {
    font-family: "Roboto", sans-serif;
}

.white {
    color: white
}

.content-education {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding-top: 10vmin;
}

.content-education-hidden {
    width: 0 !important;
    height: 0 !important;
}

.title-education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vmin;
    border: solid 1vmin #403e36;
    margin-top: 1.5vmin;
    margin-right: 1vmin;
    text-align: center;
}

.title-education h1 {
    font-size: 4.5vmin;
    color: #403e36;
}

.title-education h2 {
    font-size: 3vmin;
    color: #575549;
}

.title-education h3 {
    font-size: 3vmin;
    color: #403e36;
}

.element-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: width 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    background-color: #363131;
    padding: 2vmin;
}

.element-info .company_name {
    font-size: 5vmin;
    width: 25vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmin;
    color: #ffffff;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

.element-info .company_period {
    font-weight: 600;
    width: 30vw;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: gray;*/
    /*border: solid 1vmin #403e36;*/
    padding: 1vmin;
}

.element-info .company_tasks {
    width: 50vw;
    font-size: 3vmin;
    padding: 1vmin;
    color: #cbc5b6;
}

.element-info-hidden {
    width: 0 !important;
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#hard_skills-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 3vmin;
    background-color: #282828;
    z-index: 1;
    border: darkgray 0.5vmin solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 1s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
    font-size: 5vmin;
    font-weight: 400;
    padding: 1vmin;
}

#hard_skills-button:hover {
    background-color: #929292;
}

#hard_skills-button:active {
    transform: translate(-50%, -50%) scale(0.9) ;
}

.hidden_hard_skills-button{
    bottom: -20vmin !important;
}

#work_experience-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10vmin;
    background-color: #282828;
    z-index: 1;
    border: darkgray 0.5vmin solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
    font-size: 5vmin;
    font-weight: 400;
    padding: 1vmin;
}

#work_experience-button:hover {
    background-color: #929292;
}

#work_experience-button:active {
    transform: translate(-50%, -50%) scale(0.9) ;
}

.hidden_work_experience-button{
    top: -20vmin !important;
}

.label-frame{
    color: #363131;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    font-size: 4vmin;
    padding: 1vmin;
    border: darkgray 0.5vmin solid;
    background-color: #929292;
    transition: width 1s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

.contacts{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 70vmin;
    height: 80vmin;
    background-color: #797979;
    display: flex;
    flex-direction: column;
    padding-top: 20vmin;
    overflow: hidden;
    transition: width 1s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

.contact{
    display: flex;
    width: 70vmin;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vmin;
    font-size: 3vmin;
    font-weight: 600;
    color: #403e36;
    padding-left: 10vmin;
    overflow: hidden;
}

.contact p{
   width: 30%;
}

.contact a{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

a:visited {
    color: purple;
}

.switcher_button{
    animation-duration: 0.5s;
    animation-name: changescale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changescale {
    from {
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.rotate{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    text-align: center;
    padding: 2vmin;
    overflow: hidden;
}

/*# sourceMappingURL=main.css.map*/